<div class="card">
  <div class="card-header">Edit Page</div>
  <div class="card-body">
    <%= render "form.html", Map.put(assigns, :action, Routes.admin_page_path(@conn, :update, @page)) %>
  </div>
</div>
