<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns.settings.configuration.site_name %> · <%= assigns[:page_title] || assigns.settings.configuration.site_description %></title>
    <meta name="description" content="<%= assigns.settings.configuration.site_description %>">
    <meta name="keywords" content="<%= assigns.settings.configuration.site_description %>">
    <meta name="author" content="Thomas Juma <thomasjgx@gmail.com">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="c-app">
    <%= render "_admin_sidebar.html", assigns %>
    <div class="c-wrapper c-fixed-components">
      <%= render "_admin_header.html", assigns %>
      <div class="c-body">
        <main class="c-main">
          <div class="container-fluid">
            <%= @inner_content %>
          </div>
        </main>
        <footer class="c-footer">
          <div>Nenokit &copy; 2020 thomasjgx.</div>
        </footer>
      </div>
    </div>
    <%= render_existing @view_module, ~s(#{Path.basename(@view_template, ".html")}_scripts.html), assigns %>
  </body>
</html>
