<div class="card">
  <div class="card-header">New Workflow</div>
  <div class="card-body">
    <%= render "form.html", Map.put(assigns, :action, Routes.admin_survey_workflow_path(@conn, :create)) %>
  </div>
</div>
