<%= for blog <- @blogs do %>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <h3><%= blog.name %></h3>
        <h6><%= get_days_ago(blog.inserted_at) %> by <a href="#"><%= blog.author.name %></a></h6>
        <p class="mt-3"><%= raw(blog.content) %></p>
      </div>
    </div>
  </div>
</div>
<% end %>